body {
  background: rgb(0, 0, 0);
  font-size: 22px;
  font-family: Helvetica,Arial,sans-serif;
}

/* Header Navigation Styling */

.navbar,
.navbar-default {
  background-color:  rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid black;
}

.navbar-light .navbar-brand {
  color: black;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  border-right: 1px solid black;
  margin-right: 10px;
  letter-spacing: 2px;
}

.navbar-light .navbar-brand:hover {
  color: rgb(126, 14, 14);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(126, 14, 14);
}

.navbar-light .navbar-nav .nav-link .icons {
  width: 46px;
  height: 46px;
}


/* Home Page Styling */

.Home-Page-Container {
  background-image: url(https://media.giphy.com/media/729Qyvc6cOg7u/giphy.gif);
  background-repeat: no-repeat;
  background-size: 1500px 1000px;
}

.Cowie-Photo-Container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Cowie-Photo {
  border-radius: 50%;
  height: 400px;
  width: 400px;
  margin-top: 88px;
  margin-bottom: 10px;
}

.Home-Info-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(253,137,83);
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.Home-Button-Container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

.Home-Button {
  background-color: transparent;
  font-size: 28px;
  color: rgb(253,137,83);
  border-width: 4px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.Home-Button:hover {
  cursor: pointer;
  color: rgb(253,137,83);
  background: white;
}


/* About Me Styling */

.AboutMe-Container {
  display: flex;
  flex-direction: row;
}

.AboutMe-Photo-Container {
  display: flex;
  justify-content: flex-start;
}

.AboutMe-Photo {
  height: 620px;
  width: 620px;
}


.AboutMe-Info-Container {
  display: flex;
  flex-direction: flex-end;
}

.AboutMe-Info {
  color: white;
}